body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #013220;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-container {
    background: white;
    padding: 50px 40px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 12px 35px rgba(0,0,0,0.15);
    text-align: center;
}

h2 {
    color: #013220;
    margin-bottom: 35px;
    font-size: 42px;
}

input,
button {
    width: 100%;
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 12px;
    font-size: 18px;
    box-sizing: border-box;
}

button:hover {
    transform: translateY(-2px);
    transition: 0.3s ease;
}

input {
    border: 1px solid #ccc;
}

button {
    background: #013220;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.95;
}

p {
    font-size: 16px;
}